In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("C:\\Users\\ADMIN\\Desktop\\harvestify\\Crop_recommendation.csv")
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [4]:
data.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [5]:
data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [6]:
col=['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']

In [7]:
import seaborn as sns
plt.figure(figsize=[15,15])
sns.heatmap(data.corr(),annot=True)

In [8]:
#sns.factorplot("ph","rainfall",kind="bar",data=data)
#plt.figure(figsize=[15,15])
#plt.show()

In [9]:
#sns.factorplot("rainfall","temperature",kind="bar",data=data)
#plt.figure(figsize=[15,15])
#plt.show()

In [10]:
x=data.drop(["label"],axis=1)

In [11]:
y=data["label"]
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [13]:
xtrain.shape

(1760, 7)

In [14]:
ytrain.shape

(1760,)

In [15]:
ytrain.unique()

array(['jute', 'chickpea', 'muskmelon', 'pomegranate', 'papaya', 'banana',
       'blackgram', 'mungbean', 'maize', 'pigeonpeas', 'kidneybeans',
       'orange', 'lentil', 'coconut', 'rice', 'watermelon', 'coffee',
       'cotton', 'mothbeans', 'grapes', 'mango', 'apple'], dtype=object)

In [16]:
from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier()
etc.fit(x,y)
imp=pd.Series(etc.feature_importances_,index=col)
imp

N              0.112881
P              0.135002
K              0.192872
temperature    0.081242
humidity       0.217309
ph             0.056825
rainfall       0.203869
dtype: float64

In [17]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(criterion="entropy",n_estimators=1000)
rfc.fit(xtrain,ytrain)
pre=rfc.predict(xtest)
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.9954545454545455
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      1.00      1.00        18
   blackgram       1.00      1.00      1.00        22
    chickpea       1.00      1.00      1.00        22
     coconut       1.00      1.00      1.00        15
      coffee       1.00      1.00      1.00        21
      cotton       1.00      1.00      1.00        26
      grapes       1.00      1.00      1.00        16
        jute       1.00      0.88      0.93        16
 kidneybeans       1.00      1.00      1.00        18
      lentil       1.00      1.00      1.00        19
       maize       1.00      1.00      1.00        16
       mango       1.00      1.00      1.00        12
   mothbeans       1.00      1.00      1.00        19
    mungbean       1.00      1.00      1.00        29
   muskmelon       1.00      1.00      1.00        16
      orange       1.00      1.00      1.00        25
      papaya       1.00      1.00      1.00        17
  pigeonpeas       1.00      1.00      1.00        23
 pomegranate       1.00      1.00      1.00        24
        rice       0.91      1.00      0.95        21
  watermelon       1.00      1.00      1.00        21

    accuracy                           1.00       440
   macro avg       1.00      0.99      0.99       440
weighted avg       1.00      1.00      1.00       440

# saving the file

In [18]:
import pickle
file_name="nrfc.pkl"
output=open(file_name,"wb")
pickle.dump(rfc,output)
output.close()

In [19]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(xtrain,ytrain)
pre=dtc.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.9772727272727273
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      0.90      0.95        20
   blackgram       1.00      1.00      1.00        22
    chickpea       0.91      1.00      0.95        20
     coconut       1.00      1.00      1.00        15
      coffee       1.00      1.00      1.00        21
      cotton       1.00      1.00      1.00        26
      grapes       1.00      1.00      1.00        16
        jute       0.86      0.86      0.86        14
 kidneybeans       1.00      0.90      0.95        20
      lentil       0.89      1.00      0.94        17
       maize       1.00      1.00      1.00        16
       mango       1.00      1.00      1.00        12
   mothbeans       1.00      0.90      0.95        21
    mungbean       1.00      1.00      1.00        29
   muskmelon       1.00      1.00      1.00        16
      orange       1.00      1.00      1.00        25
      papaya       0.88      1.00      0.94        15
  pigeonpeas       1.00      1.00      1.00        23
 pomegranate       1.00      1.00      1.00        24
        rice       0.91      0.91      0.91        23
  watermelon       1.00      1.00      1.00        21

    accuracy                           0.98       440
   macro avg       0.98      0.98      0.97       440
weighted avg       0.98      0.98      0.98       440

In [20]:
file_name="dtc.pkl"
output=open(file_name,"wb")
pickle.dump(dtc,output)
output.close()

In [21]:
from sklearn.svm import SVC
svm=SVC()
svm.fit(xtrain,ytrain)
pre=svm.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.9590909090909091
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      1.00      1.00        18
   blackgram       1.00      0.88      0.94        25
    chickpea       1.00      1.00      1.00        22
     coconut       1.00      1.00      1.00        15
      coffee       0.95      1.00      0.98        20
      cotton       1.00      1.00      1.00        26
      grapes       1.00      1.00      1.00        16
        jute       1.00      0.67      0.80        21
 kidneybeans       1.00      0.75      0.86        24
      lentil       0.95      0.95      0.95        19
       maize       1.00      1.00      1.00        16
       mango       1.00      1.00      1.00        12
   mothbeans       0.89      0.94      0.92        18
    mungbean       1.00      1.00      1.00        29
   muskmelon       1.00      1.00      1.00        16
      orange       1.00      1.00      1.00        25
      papaya       0.94      1.00      0.97        16
  pigeonpeas       0.65      1.00      0.79        15
 pomegranate       1.00      1.00      1.00        24
        rice       0.78      1.00      0.88        18
  watermelon       1.00      1.00      1.00        21

    accuracy                           0.96       440
   macro avg       0.96      0.96      0.96       440
weighted avg       0.97      0.96      0.96       440

In [22]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(xtrain,ytrain)
pre=gnb.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.9931818181818182
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      1.00      1.00        18
   blackgram       1.00      1.00      1.00        22
    chickpea       1.00      1.00      1.00        22
     coconut       1.00      1.00      1.00        15
      coffee       1.00      1.00      1.00        21
      cotton       1.00      1.00      1.00        26
      grapes       1.00      1.00      1.00        16
        jute       0.93      0.87      0.90        15
 kidneybeans       1.00      1.00      1.00        18
      lentil       1.00      1.00      1.00        19
       maize       1.00      1.00      1.00        16
       mango       1.00      1.00      1.00        12
   mothbeans       1.00      1.00      1.00        19
    mungbean       1.00      1.00      1.00        29
   muskmelon       1.00      1.00      1.00        16
      orange       1.00      1.00      1.00        25
      papaya       1.00      1.00      1.00        17
  pigeonpeas       1.00      1.00      1.00        23
 pomegranate       1.00      1.00      1.00        24
        rice       0.91      0.95      0.93        22
  watermelon       1.00      1.00      1.00        21

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [23]:
file_name="gnb.pkl"
output=open(file_name,"wb")
pickle.dump(gnb,output)
output.close()

# prediction:

In [24]:
input=[[90,42,43,20.879744,82.002744,6.502985,202.935536]]
rfc.predict(input)

array(['rice'], dtype=object)