In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("C:\\Users\\ADMIN\\Desktop\\harvestify\\Fertilizer Prediction.csv")
data.head(50)

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
5,26,52,35,Sandy,Barley,12,10,13,17-17-17
6,25,50,64,Red,Cotton,9,0,10,20-20
7,33,64,50,Loamy,Wheat,41,0,0,Urea
8,30,60,42,Sandy,Millets,21,0,18,28-28
9,29,58,33,Black,Oil seeds,9,7,30,14-35-14
10,27,54,28,Clayey,Pulses,13,0,40,DAP
11,31,62,48,Sandy,Maize,14,15,12,17-17-17
12,25,50,65,Loamy,Cotton,36,0,0,Urea
13,32,62,41,Clayey,Paddy,24,0,22,28-28
14,26,52,31,Red,Ground Nuts,14,0,41,DAP
15,31,62,49,Black,Sugarcane,10,13,14,17-17-17
16,33,64,34,Clayey,Pulses,38,0,0,Urea
17,25,50,39,Sandy,Barley,21,0,19,28-28
18,28,54,65,Black,Cotton,39,0,0,Urea
19,29,58,52,Loamy,Wheat,13,0,36,DAP
20,30,60,44,Sandy,Millets,10,0,9,20-20
21,34,65,53,Loamy,Sugarcane,12,14,12,17-17-17
22,35,68,33,Red,Tobacco,11,0,37,DAP
23,28,54,37,Black,Millets,36,0,0,Urea
24,33,64,39,Clayey,Paddy,13,0,10,20-20
25,26,52,44,Sandy,Maize,23,0,20,28-28
26,30,60,63,Red,Cotton,9,9,29,14-35-14
27,32,62,30,Loamy,Sugarcane,38,0,0,Urea
28,37,70,32,Black,Oil seeds,12,0,39,DAP
29,26,52,36,Clayey,Pulses,14,0,13,20-20
30,29,58,40,Red,Ground Nuts,24,0,23,28-28
31,30,60,27,Loamy,Sugarcane,12,0,40,DAP
32,34,65,38,Clayey,Paddy,39,0,0,Urea
33,36,68,38,Sandy,Barley,7,9,30,14-35-14
34,26,52,48,Loamy,Wheat,23,0,19,28-28
35,28,54,35,Black,Millets,41,0,0,Urea
36,30,60,61,Loamy,Cotton,8,10,31,14-35-14
37,37,70,37,Clayey,Paddy,12,0,41,DAP
38,25,50,26,Red,Ground Nuts,15,14,11,17-17-17
39,29,58,34,Sandy,Millets,15,0,37,DAP
40,27,54,30,Clayey,Pulses,13,0,13,20-20
41,30,60,58,Loamy,Sugarcane,10,7,32,14-35-14
42,32,62,34,Red,Tobacco,22,0,24,28-28
43,34,65,60,Black,Sugarcane,35,0,0,Urea
44,35,67,42,Sandy,Barley,10,0,35,DAP
45,38,70,48,Loamy,Wheat,8,8,28,14-35-14
46,26,52,32,Black,Oil seeds,12,0,8,20-20
47,29,58,43,Clayey,Paddy,24,0,18,28-28
48,30,60,29,Red,Ground Nuts,41,0,0,Urea
49,33,64,51,Sandy,Maize,5,9,29,14-35-14

In [3]:
data.describe()

       Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     int64
 1   Humidity         99 non-null     int64
 2   Moisture         99 non-null     int64
 3   Soil Type        99 non-null     object
 4   Crop Type        99 non-null     object
 5   Nitrogen         99 non-null     int64
 6   Potassium        99 non-null     int64
 7   Phosphorous      99 non-null     int64
 8   Fertilizer Name  99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [5]:
print(data["Crop Type"].unique())
print(data.shape)

['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
(99, 9)

In [6]:
print(data["Soil Type"].unique())

['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']

In [7]:
data=data.drop(['Soil Type'],axis=1)

In [8]:
data["Crop Type"]=data["Crop Type"].replace("Maize","maize")
data["Crop Type"]=data["Crop Type"].replace("Sugarcane","sugarcane")
data["Crop Type"]=data["Crop Type"].replace("Cotton","cotton")
data["Crop Type"]=data["Crop Type"].replace("Tobacco","tobacco")
data["Crop Type"]=data["Crop Type"].replace("Barley","barley")
data["Crop Type"]=data["Crop Type"].replace("Wheat","wheat")
data["Crop Type"]=data["Crop Type"].replace("Millets","millets")
data["Crop Type"]=data["Crop Type"].replace("Oil seeds","Oil seeds")
data["Crop Type"]=data["Crop Type"].replace("Pulses","pulses")
data["Crop Type"]=data["Crop Type"].replace("Ground Nuts","ground nuts")

In [9]:
data

,Temparature,Humidity,Moisture,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,maize,37,0,0,Urea
1,29,52,45,sugarcane,12,0,36,DAP
2,34,65,62,cotton,7,9,30,14-35-14
3,32,62,34,tobacco,22,0,20,28-28
4,28,54,46,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...
94,25,50,32,pulses,24,0,19,28-28
95,30,60,27,tobacco,4,17,17,10-26-26
96,38,72,51,wheat,39,0,0,Urea
97,36,60,43,millets,15,0,41,DAP
98,29,58,57,sugarcane,12,0,10,20-20

In [10]:
import seaborn as sns
plt.figure(figsize=[15,15])
sns.heatmap(data.corr(),annot=True)

In [11]:
data=pd.get_dummies(data,columns=["Crop Type"])

In [12]:
data

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Fertilizer Name,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_barley,Crop Type_cotton,Crop Type_ground nuts,Crop Type_maize,Crop Type_millets,Crop Type_pulses,Crop Type_sugarcane,Crop Type_tobacco,Crop Type_wheat
0,26,52,38,37,0,0,Urea,0,0,0,0,0,1,0,0,0,0,0
1,29,52,45,12,0,36,DAP,0,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,14-35-14,0,0,0,1,0,0,0,0,0,0,0
3,32,62,34,22,0,20,28-28,0,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,Urea,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,25,50,32,24,0,19,28-28,0,0,0,0,0,0,0,1,0,0,0
95,30,60,27,4,17,17,10-26-26,0,0,0,0,0,0,0,0,0,1,0
96,38,72,51,39,0,0,Urea,0,0,0,0,0,0,0,0,0,0,1
97,36,60,43,15,0,41,DAP,0,0,0,0,0,0,1,0,0,0,0
98,29,58,57,12,0,10,20-20,0,0,0,0,0,0,0,0,1,0,0

In [13]:
x=data.drop(["Fertilizer Name"],axis=1)
y=data["Fertilizer Name"]

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [15]:
xtrain

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_barley,Crop Type_cotton,Crop Type_ground nuts,Crop Type_maize,Crop Type_millets,Crop Type_pulses,Crop Type_sugarcane,Crop Type_tobacco,Crop Type_wheat
25,26,52,44,23,0,20,0,0,0,0,0,1,0,0,0,0,0
7,33,64,50,41,0,0,0,0,0,0,0,0,0,0,0,0,1
49,33,64,51,5,9,29,0,0,0,0,0,1,0,0,0,0,0
24,33,64,39,13,0,10,0,1,0,0,0,0,0,0,0,0,0
60,28,54,41,36,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,30,60,29,41,0,0,0,0,0,0,1,0,0,0,0,0,0
78,26,52,36,7,16,20,0,0,0,0,0,0,0,1,0,0,0
85,35,67,28,8,7,31,0,0,0,0,0,0,0,1,0,0,0
27,32,62,30,38,0,0,0,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,0,0,0,1,0,0,0,0,0,0,0

In [16]:
ytrain

25       28-28
7         Urea
49    14-35-14
24       20-20
60        Urea
        ...
48        Urea
78    10-26-26
85    14-35-14
27        Urea
2     14-35-14
Name: Fertilizer Name, Length: 79, dtype: object

In [17]:
ytest

73        Urea
46       20-20
71        Urea
76       28-28
98       20-20
40       20-20
81        Urea
20       20-20
18        Urea
96        Urea
31         DAP
58    17-17-17
91    10-26-26
61       20-20
55       28-28
22         DAP
86    10-26-26
21    17-17-17
33    14-35-14
95    10-26-26
Name: Fertilizer Name, dtype: object

In [18]:
xtest

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_barley,Crop Type_cotton,Crop Type_ground nuts,Crop Type_maize,Crop Type_millets,Crop Type_pulses,Crop Type_sugarcane,Crop Type_tobacco,Crop Type_wheat
73,27,53,34,42,0,0,1,0,0,0,0,0,0,0,0,0,0
46,26,52,32,12,0,8,1,0,0,0,0,0,0,0,0,0,0
71,31,62,32,39,0,0,0,0,0,0,0,0,0,0,0,1,0
76,30,60,47,22,0,21,0,0,0,0,0,1,0,0,0,0,0
98,29,58,57,12,0,10,0,0,0,0,0,0,0,0,1,0,0
40,27,54,30,13,0,13,0,0,0,0,0,0,0,1,0,0,0
81,30,60,40,41,0,0,0,0,0,0,0,0,1,0,0,0,0
20,30,60,44,10,0,9,0,0,0,0,0,0,1,0,0,0,0
18,28,54,65,39,0,0,0,0,0,1,0,0,0,0,0,0,0
96,38,72,51,39,0,0,0,0,0,0,0,0,0,0,0,0,1
31,30,60,27,12,0,40,0,0,0,0,0,0,0,0,1,0,0
58,25,50,56,11,13,15,0,0,0,0,0,0,0,0,1,0,0
91,34,65,45,6,19,21,0,1,0,0,0,0,0,0,0,0,0
61,30,60,49,13,0,9,0,0,0,0,0,0,0,0,0,0,1
55,27,53,43,23,0,24,0,0,0,0,0,0,1,0,0,0,0
22,35,68,33,11,0,37,0,0,0,0,0,0,0,0,0,1,0
86,29,58,30,13,17,16,0,0,0,0,0,0,0,0,0,1,0
21,34,65,53,12,14,12,0,0,0,0,0,0,0,0,1,0,0
33,36,68,38,7,9,30,0,0,1,0,0,0,0,0,0,0,0
95,30,60,27,4,17,17,0,0,0,0,0,0,0,0,0,1,0

In [19]:
ytrain

25       28-28
7         Urea
49    14-35-14
24       20-20
60        Urea
        ...
48        Urea
78    10-26-26
85    14-35-14
27        Urea
2     14-35-14
Name: Fertilizer Name, Length: 79, dtype: object

In [20]:
import xgboost

In [21]:
XGB=xgboost.XGBClassifier(enable_categorical=True)
XGB.fit(xtrain,ytrain)
pre=XGB.predict(xtest)
from sklearn.metrics import accuracy_score,classification_report
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

C:\Users\ADMIN\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:38:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "enable_categorical" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[19:38:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
1.0
              precision    recall  f1-score   support

    10-26-26       1.00      1.00      1.00         3
    14-35-14       1.00      1.00      1.00         1
    17-17-17       1.00      1.00      1.00         2
       20-20       1.00      1.00      1.00         5
       28-28       1.00      1.00      1.00         2
         DAP       1.00      1.00      1.00         2
        Urea       1.00      1.00      1.00         5

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

In [22]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(criterion='entropy',n_estimators=1000)
rfc.fit(xtrain,ytrain)
pre=rfc.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.9
              precision    recall  f1-score   support

    10-26-26       0.33      1.00      0.50         1
    14-35-14       1.00      0.50      0.67         2
    17-17-17       1.00      0.67      0.80         3
       20-20       1.00      1.00      1.00         5
       28-28       1.00      1.00      1.00         2
         DAP       1.00      1.00      1.00         2
        Urea       1.00      1.00      1.00         5

    accuracy                           0.90        20
   macro avg       0.90      0.88      0.85        20
weighted avg       0.97      0.90      0.91        20

In [23]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(xtrain,ytrain)
pre=gnb.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

0.75
              precision    recall  f1-score   support

    10-26-26       0.67      0.67      0.67         3
    14-35-14       0.00      0.00      0.00         1
    17-17-17       1.00      1.00      1.00         2
       20-20       0.80      1.00      0.89         4
       28-28       1.00      0.40      0.57         5
         DAP       0.50      1.00      0.67         1
        Urea       0.80      1.00      0.89         4

    accuracy                           0.75        20
   macro avg       0.68      0.72      0.67        20
weighted avg       0.79      0.75      0.73        20

In [24]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(xtrain,ytrain)
pre=dt.predict(xtest)
print(accuracy_score(pre,ytest))
print(classification_report(pre,ytest))

1.0
              precision    recall  f1-score   support

    10-26-26       1.00      1.00      1.00         3
    14-35-14       1.00      1.00      1.00         1
    17-17-17       1.00      1.00      1.00         2
       20-20       1.00      1.00      1.00         5
       28-28       1.00      1.00      1.00         2
         DAP       1.00      1.00      1.00         2
        Urea       1.00      1.00      1.00         5

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

# saving file

In [25]:
import pickle
file_name="nfert-rfc.pkl"
output=open(file_name,"wb")
pickle.dump(rfc,output)
output.close()

In [26]:
#prediction
input=[[28,54,46,35,0,0,0,1,0,0,0,0,0,0,0,0,0]]
rfc.predict(input)

array(['Urea'], dtype=object)